name: third yml file

on:
  push:
    branches:
      - main
concurrency:
  group: production
  cancel-in-progress: true


jobs:
  third-job:
    runs-on: ubuntu-latest
    steps:
    

      - name: step 2 check environemt variable 
        run: | 
          whoami


        